

.mpopular{
    width: 99%;
    padding: 5px 30px;
    box-sizing: border-box;
  
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: left;
  }

  .lar {
    border: 1px solid red;
    display: flex;
    gap: 10px;
    }
  .mimg {
    border: 1px solid blue;
    width: 99%; 
    border-radius: 5px;
  }

   
.wseries{
  margin: 1px auto;
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: whitesmoke; 
}
.whseries{
  text-align: left;
  font-size: 2.5em; 
  color: gray;
}